In [35]:
import pandas as pd

In [36]:
data=pd.read_csv('Data.csv')

In [37]:
data.shape

(4366, 7)

In [38]:
data=data.drop('Unnamed: 0',axis=1)
data=data.drop('index',axis=1)

In [39]:
data.head()

,Member/Company Name,BGMEA Reg No,Contact Person,Email Adddress,Details
0,9 Star Apparels Inds. Ltd.,5751,Mahashin Haque,masud9star@gmail.com,http://www.bgmea.com.bd/member/details/19560
1,A & A Fashion Sweaters Ltd.,3968,Monowara Begum,NaN,http://www.bgmea.com.bd/member/details/19561
2,A & A Trousers Ltd.,4671,Md. Mahbubul Alam,mahbub@aandagroupbd.com,http://www.bgmea.com.bd/member/details/19562
3,A & B Design & Fashion (Pvt.) Ltd.,6211,Sayed Azharul Haque,azhar@synergy-group-ltd.com,http://www.bgmea.com.bd/member/details/19563
4,A & H Enterprises Ltd.,2190,N.M. Habibur Rahman,habib@mohammadigroup-hr.com,http://www.bgmea.com.bd/member/details/19564

In [40]:
det=pd.read_csv('details_final.csv')

In [41]:
det=det.drop('Unnamed: 0',axis=1)

In [42]:
det.head()

,BGMEA Reg. No.,EPB Reg No.,Name:,Designation:,Phone,Mailling Address,Factory Address,Date of establishment,Factory Type:,No. of Employees,No of Machines,Production Capacity (Yearly in dozen),Principal exportable product,Annual Turnover
0,5751,0,Mahashin Haque,Director,1711003788,"Plot # 56, Vatulia, House # 116, Nurani Madras...","Plot # 56, Vatulia, House # 116, Nurani Madras...",2014,"Woven,",255.0,165,208000,"Caps, Hats, ,",NaN
1,3968,0,Monowara Begum,Chairman,29264262,"Naljani (Wireless Gate), GazipurSadar","Naljani (Wireless Gate), Gazipur",2004,"Sweater,",700.0,300,72000,"Sweaters, , ,",NaN
2,4671,0,Md. Mahbubul Alam,Managing Director,28824255,"House # B-109 (Duplex), Road # 8, New DOHS Dh...","Haribari Tak, Pubail College Gate Gazipur...",2008,"Knit,Woven,",800.0,518,156000,"Ladies Blouses, Men's Pants, Denim Jackets...",NaN
3,6211,0,Sayed Azharul Haque,Managing Director,29111815,"House # 23/8, Block # C, Tajmohol Road DhakaM...","Kalma, Dairy farm DhakaSavar",2016,"Sweater,",0.0,141,20800,"Sweater, , ,",NaN
4,2190,1918,N.M. Habibur Rahman,Managing Director,3894559119,"93, Motijheel C/A, (2nd floor) DhakaMotijheel","Tatki, Tarabo NarayanganjRupganj",1992,"Knit,",110.0,78,60000,"T-Shirts, Polo Shirts, Ladies Top,",NaN

In [43]:
det.dtypes

BGMEA Reg. No.                             int64
EPB Reg No.                               object
Name:                                     object
Designation:                              object
Phone                                     object
Mailling Address                          object
Factory Address                           object
Date of establishment                     object
Factory Type:                             object
No. of Employees                         float64
No of Machines                             int64
Production Capacity (Yearly in dozen)     object
Principal exportable product              object
Annual Turnover                           object
dtype: object

In [44]:
data.dtypes

Member/Company Name    object
BGMEA Reg No            int64
Contact Person         object
Email Adddress         object
Details                object
dtype: object

In [45]:
data.columns

Index(['Member/Company Name', 'BGMEA Reg No', 'Contact Person',
       'Email Adddress', 'Details'],
      dtype='object')

In [46]:
merged_inner = pd.merge(left=data, right=det, left_on='BGMEA Reg No', right_on='BGMEA Reg. No.')

In [47]:
merged_inner.shape

(4366, 19)

In [48]:
table = pd.read_excel (r'table3.xlsx', sheet_name='Sheet1')

In [49]:
table.shape

(4688, 9)

In [51]:
merged_outer = pd.merge(left=table, right=merged_inner,how='outer', left_on='Bcode', right_on='BGMEA Reg. No.')

In [52]:
merged_outer.shape

(4700, 28)

In [53]:
tab=merged_outer

In [54]:
tab.columns

Index(['SL No.', 'Bcode', 'Unit Name', 'OfficeAdd1', 'OfficeAdd2',
       'OfficeSubZone', 'OfficeZone', 'OfficeZipCode', 'Email1',
       'Member/Company Name', 'BGMEA Reg No', 'Contact Person',
       'Email Adddress', 'Details', 'BGMEA Reg. No.', 'EPB Reg No.', 'Name:',
       'Designation:', 'Phone', 'Mailling Address', 'Factory Address',
       'Date of establishment', 'Factory Type:', 'No. of Employees',
       'No of Machines', 'Production Capacity (Yearly in dozen)',
       'Principal exportable product', 'Annual Turnover'],
      dtype='object')

In [58]:
tab=tab.drop('BGMEA Reg. No.',axis=1)
tab.to_csv('final_table.csv')

In [55]:
l=[]
l=(tab['Unit Name']==tab['Member/Company Name'])

In [61]:
for i,item in enumerate(l):
    if not(item):
        if(tab['Unit Name'][i]!=nan and tab['Member/Company Name'][i]!=nan):
            print (i,"     ",tab['Unit Name'][i],"        ",tab['Member/Company Name'][i])

NameError: name 'nan' is not defined