In [52]:
import pandas as pd
import re

In [79]:
df1=pd.read_csv('details_1.csv')
df2=pd.read_csv('details_2.csv')

frames=[df1,df2]
data=pd.concat(frames)

In [80]:
data.shape

(4217, 14)

In [81]:
data.drop_duplicates(keep='first', inplace=True)
data.reset_index(inplace=True)

In [82]:
data.shape

(4217, 15)

In [83]:
def clean_text(text):
    text=text.replace('\n','')
    text=text.replace('\t','')
    
    return text
def clean_factory_type(text):
    text=text.replace('Type\nPriority','')
    text=text.replace('\n5',',')
    text=text.replace('\n','')
    return text

def clean_employee(text):
    text=text.replace('\n','')
    text=text.replace('\t','')
    text=text.replace('Management','')
    text=text.replace('Male','')
    text=text.replace('Female','')
    text=text.replace('Employee','')
    text=text.replace(' ','')
    text=text.replace('\xa0','')
    return text

In [84]:
data['Mailling Address']=data['Mailling Address'].apply(lambda x: clean_text(x))
data['Factory Address']=data['Factory Address'].apply(lambda x: clean_text(x))
data['Factory Type:']=data['Factory Type:'].apply(lambda x: clean_factory_type(x))
data['Principal exportable product']=data['Principal exportable product'].apply(lambda x: clean_text(x))
data['No. of Employees']=data['No. of Employees'].apply(lambda x: clean_employee(x))

In [85]:
data=data.drop('Unnamed: 0',axis=1)
data.head()

,index,BGMEA Reg. No.,EPB Reg No.,Name:,Designation:,Mailling Address,Factory Address,Date of establishment,Factory Type:,No. of Employees,No of Machines,Production Capacity (Yearly in dozen),Principal exportable product,Annual Turnover
0,0,5996,0,Chowdhury Azhar Uddin,Chairman,"Holding # 2059, Joy Bangla Road, National Univ...","Holding # 2059, Joy Bangla Road, National Univ...",2015,"Woven,",180,100,100000,"Shirts, Pants, ,",Year\nUS $
1,1,5161,0,Atique Hossain,Managing Director,"Khejur Bagan, Baro Ashulia DhakaSavar","Khejur Bagar, Baro Ashulia DhakaSavar",2010,"Knit,",350,114,600000,"T-Shirts, Polo Shirts, ,",Year\nUS $
2,2,4980,0,F.M. Kabir Mohiuddin,Managing Director,"39, Dilkusha C/A, DhakaMotijheel","Lithe Complex, Asian High Way, Shanarpar ...",2009,"Knit,",250,116,100000,"T-Shirts, Polo Shirts, ,",Year\nUS $
3,3,5771,0,Nazrul Islam Sikder,Managing Director,"House # 14, Flat # 1, Road # 6, Sector # 1 Dh...","Plot # 2924,2925,2939,2940, (Chairman Plaza) D...",2014,"Knit,Woven,",250,263,20000,"Shirts, Pants, T-Shirts, Polo Shirts",Year\nUS $
4,4,6052,0,Md Shafiqul Islam,Managing Director,"144/1, Alubdi (Ground & 1st Floor), Pallobi D...","144/1, Alubdi (Ground & 1st Floor), Pallobi ...",2015,"Knit,",65,52,75000,"T-Shirts, Polo Shirts, ,",Year\nUS $

In [89]:
data.to_csv('details_final.csv')

In [88]:
data.shape

(4217, 14)